@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.addImageButton{
    display: inline-flex;
}

.subHeader{
    display: inline-flex;
}

.imageMiniatures img{
    margin: 5px;
    width: 40px;
    height: 40px;
    margin: auto;
    padding-right: 10px;
}

.addImageButton{
  position: relative;
  float: right;
}


